@import '~bootstrap/scss/bootstrap'

body
	margin: 0
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fir Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

code
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

.container
	width: 50%

.todo
	display: flex
	justify-content: space-between
	align-items: center

.alert
	position: fixed
	top: 0
	right: 0
	width: 300px
	// transform: translate(-100%, 0)